*, *::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

@supports (display: grid) {
    main {
      display: grid;
      grid-template-columns: repeat(12, minmax(0,1fr));
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
    }
}

body {
  background-color: white;
  min-height: 100vh;
  padding: 8rem;
  font-size: 2rem;
  font-family: 'Signika', sans-serif;
  font-weight: 800;
}



@media (min-width: 320px) {
 .section--infoAhmed {
   display: grid;
   grid-column: 7 / 12;
 }

 .image {
   width: 100%;
 }

  .deel1-click {
    display: grid;
    grid-column: 7 / 12;
  }

  .button {
    width: 15rem;
    height: 8rem;
    padding: 2.5rem;
    border: none;
    position: relative;
  }

  .button--yellow {
    background-color: yellow;
  }

  .button--yellow:after {
    content: "Start het verhaal";
    height: 95%;
    width: 100%;
    position: absolute;
    background-color: red; 
    top: 0;
    left: 0;
}


  .button:active:after {
    transform: translateY(5%);
  }
  
  .button:active {
    background-color: transparent;
  }
  .ahmedAfbeelding {
    display: grid;
    grid-column: 1 / 7;
  }

  .section--introductieAhmad {
    display: grid;
    grid-column: 1 / 12;
  }

  hr {
    display: grid;
    grid-column: 1 / 12;
  }


}

@media (min-width: 800px) {
  .image {
    width: 75%;
  }

}

@media (min-width: 1280px) {
  .image {
    width: 50%;
  }
}
