*, *::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

@supports (display: grid) {
    main {
      display: grid;
      grid-template-columns: repeat(12, minmax(0,1fr));
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
    }
}

body {
  background-color: white;
  min-height: 100vh;
  padding: 8rem;
  font-size: 2rem;
  font-family: 'Signika', sans-serif;
  font-weight: 800;
}
